<div style="position: absolute; bottom: 0; left: 0; background-color: black; width: 100%">
    <hr>
    <div>
        <h6 style="text-align: center; color: white;">Projet réalisé par Chrif MELLOULI - GINFO2 - IPSAS - 2018/2019 - Symfony3</h6>
    </div>
    <div>
        <h5 style="text-align: center; color: white;">Je tiens à remercier Madame Maha AZEBOU pour l'effort dont elle a fait preuve à
            notre égard en Symfony3</h5>
    </div>
</div>